<div class="col col-lg-12">
    <div class="col col-lg-2"></div>

    <div class="col col-lg-8 form-inline">
            Famille:
        <select class="form-control" ng-model="alimentController.famille" ng-options="famille.libelle for famille in alimentController.familles track by famille.id">
        <option value="">-- -- --</option>
    </select>
    </div>
</div>
<div class="col col-lg-12">
    <br/>
    <div class="col col-lg-2"></div>

    <div class="col col-lg-8">
    <table class="table-bordered table">
        <thead><th>Famille</th><th>Libellé</th><th>Quantité</th><th>Unité</th><th>Points</th><th></th><th></th></thead>
        <tbody>
        <tr>
            <td>
                <select class="form-control" ng-model="alimentController.newAliment.famille"
                        ng-options="famille.libelle for famille in alimentController.familles"
                ></select>
            </td>
            <td>
                <input class="form-control" type="text" ng-model="alimentController.newAliment.libelle"  />
            </td>
            <td>
                <input class="form-control" type="number" ng-model="alimentController.newAliment.quantite"  />
            </td>
            <td>
                <select class="form-control" ng-model="alimentController.newAliment.unite"
                        ng-options="unite.libelle for unite in alimentController.unites track by unite.id"
                ></select>
            </td>
            <td>
                <input class="form-control" type="number" ng-model="alimentController.newAliment.points"  />
            </td>
            <td>
                <button class="form-control btn btn-success" type="button"  ng-click="alimentController.save()"><div class="fa fa-plus"></div></button>
            </td>
            <td>
            </td>
        </tr>
        <tr ng-repeat="aliment in alimentController.aliments  | filter: alimentController.filtreFamille">
            <td>
                <select class="form-control" ng-model="aliment.famille" disabled="disabled"
                        ng-options="famille.libelle for famille in alimentController.familles track by famille.id"
                        ></select>
            </td>
            <td>
                <input class="form-control" type="text" ng-model="aliment.libelle"  />
            </td>
            <td>
                <input class="form-control" type="number" ng-model="aliment.quantite"  />
            </td>
            <td>
                <select class="form-control" ng-model="aliment.unite"
                        ng-options="unite.libelle for unite in alimentController.unites track by unite.id"
                ></select>
            </td>
            <td>
                <input class="form-control" type="number" ng-model="aliment.points"  />
            </td>
            <td>
                <button class="form-control btn btn-success" type="button"  ng-click="alimentController.update(aliment)"><div class="fa fa-save"></div></button>
            </td>
            <td>
                <button class="form-control btn btn-danger" type="button" ng-click="alimentController.delete(aliment)"><div class="fa fa-trash"></div></button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col col-lg-2"></div>
</div>